<h3 class="app-header form-text mt-4">Chat</h3>
<form class="login-form" [formGroup]="form" (ngSubmit)="login()">
  <fieldset>
    <div class="form-field" [ngClass]="{'shake': formValidationService.isControlTouchedAndInvalid(form.controls['password'], isSubmitted)}">
      <label class="form-text form-label" for="username-input">Username</label>
      <input class="form-input" formControlName="username" id="username-input" />
      <app-form-validation
          [formSubmitted]="isSubmitted"
          [validations]="[
            {
              control: form.controls['username'],
              errorKey: 'required',
              errorMessage: 'Please, enter your username'
            }
          ]"
      />
    </div>
    <div class="form-field" [ngClass]="{'shake': formValidationService.isControlTouchedAndInvalid(form.controls['password'], isSubmitted)}">
      <label class="form-text form-label" for="password-input">Password</label>
      <input
        class="form-input"
        type="password"
        formControlName="password"
        id="password-input"
      />
      <app-form-validation
          [formSubmitted]="isSubmitted"
          [validations]="[
            {
              control: form.controls['password'],
              errorKey: 'required',
              errorMessage: 'Please, enter your password'
            }
          ]"
      />
    </div>
  </fieldset>
  <div class="form-text register-block">
    Don't have an account? <a href="/register">Register</a>
  </div>
  <button class="submit-btn form-text" type="submit">Log in</button>
</form>
