fieldset {
  margin: 0;
  padding: 0;
  border-style: none;
}

.form-text {
  font-family: 'Abel';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;
  color: var(--bs-white);
}

.login-form {
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
  height: auto;
}

.form-input {
  height: 2rem;
  width: 100%;
  background: inherit;
  border-color: #818182;
  border-radius: 10px;
  border-style: solid;
  color: var(--bs-white);
  box-sizing: border-box;
  padding-left: 0.4rem;
  font-size: 15px;
}

.form-field {
  margin-bottom: 0.8rem;
}

.form-field:last-child {
  margin: 3px;
}

.form-label {
  display: block;
  margin-bottom: 7px;
}

.submit-btn {
  margin-top: 1.3rem;
  height: 1.9rem;
  width: 100%;
  border-radius: 10px;
  border-style: none;
  background-color: #42566c;
}

.register-block {
  float: right;
  font-size: calc(0.8 * 20px);
  color: rgb(138, 139, 143);

  a {
    text-decoration: underline;
    color: inherit;
  }
}

.error-container {
  ::ng-deep ul {
    margin: 0;
  }
}

.submit-btn:hover {
  filter: brightness(100% - 10%);
}

@media (max-width: 350px) {
  .login-form {
    width: 100%;
  }
}