<div class="chat-item" (click)="openDialogue()">
  <div class="chat-item__content">
    <div class="chat-item__header">
      <h4 class="chat-item__name">{{ chat.displayName }}</h4>
      <span class="chat-item__time">{{
        chat.lastMessage?.createdAt
          | date : dateFormatter.getDateFormat(chat.lastMessage?.createdAt ?? '')
      }}</span>
    </div>
    <p class="chat-item__message" [ngClass]="chat.lastMessage ? '' : 'chat-item__empty'">
      {{ chat.lastMessage?.content ?? 'No messages yet' }}
    </p>
  </div>
</div>
