@import 'src/styles.scss';

$header-size: 32px;

.app-header {
    text-align: center;
    color: $text-color;
    font-size: $header-size;

    a {
        text-decoration: none;
        color: inherit;
    }
}